// Theme's Palette
@import("C:/myWork/学习文件/myblog/blogs/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/myWork/学习文件/myblog/blogs/docs/.vuepress/styles/palette.styl")